//
//  Config.xcconfig
//  DrainGuardHCM
//
//  Created by Anh Phung Thi Minh on 18/1/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GEMINI_API_KEY=AIzaSyCFfhXjZQTwdkqYSHJf4XoZISVJxLNekEs
GEMINI_MODEL=gemini-2.5-flash
